<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
 	http://cxf.apache.org/jaxrs
 	http://cxf.apache.org/schemas/jaxrs.xsd
 	http://cxf.apache.org/jaxws
 	http://cxf.apache.org/schemas/jaxws.xsd
 	http://www.springframework.org/schema/context
 	http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<context:component-scan base-package="com.dzee.gslab.*" />

	<jaxrs:server id="employeeResource" address="/employee">
		<jaxrs:providers>
			<bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
		</jaxrs:providers>
		<jaxrs:serviceBeans>
			<ref bean="employeeResourceImpl" />
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="xml" value="application/xml" />
			<entry key="json" value="application/json" />
		</jaxrs:extensionMappings>
	</jaxrs:server>

	<jaxrs:server id="userResource" address="/user">
		<jaxrs:providers>
			<bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
		</jaxrs:providers>
		<jaxrs:serviceBeans>
			<ref bean="userResourceImpl" />
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="xml" value="application/xml" />
			<entry key="json" value="application/json" />
		</jaxrs:extensionMappings>
	</jaxrs:server>

	<bean id="employeeResourceImpl" class="com.dzee.gslab.rest.impl.EmployeeResourceImpl" />

	<bean id="userResourceImpl" class="com.dzee.gslab.rest.impl.UserResourceImpl" />

	<bean id="employeeDao" class="com.dzee.gslab.dao.EmployeeDao" />

	<bean id="userDao" class="com.dzee.gslab.dao.UserDao"></bean>
</beans>